.container{
    margin-top: 8%;
    width: 400px;
    border: ridge 1.5px white;
    padding: 20px;
}	
body{
    background: #e0eafc81;
/* fallback for old browsers */
background: -webkit-linear-gradient(to right, white, white); 
background: linear-gradient(to right, green,white)}